<h1>オムニ集品用ピッキングリスト</h1>

<div class="top">
  <div class="records-counts">
    <div class="record-count">行数：<span class="count-font"><%= @pickitems.count %></span></div>
    <div class="record-count">残：<span class="count-font"><%= @pickitems.select { |item| item.shipping_records.nil? }.count %></span></div>
  </div>
  <div class="link-start">
    <% if @pickitems.select { |item| item.shipping_records.nil? }.count.zero? %>
      <%= link_to "スタート画面へ戻る", root_path %>
      <%= javascript_tag do %>
        alert("ピッキング完了！おつかれさまでした");
      <% end %>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">グループ</th>
      <th scope="col">棚番</th>
      <th scope="col">JANコード</th>
      <th scope="col">商品名</th>
      <th scope="col">入数</th>
      <th scope="col">ピッキング数量</th>
      <th scope="col">pick</th>
      <th scope="col">出荷数</th>
    </tr>
  </thead>
  <tbody>
    <% @pickitems.each do |pickitem| %>
      <tr <% if pickitem.shipping_records.present?%> class="has-shipping-records" <% end %>>
        <td class="pickgroup"><%= pickitem.pickgroup %></td>
        <td scope='row'><%= "#{pickitem.tana[1..2]}-#{pickitem.tana[3..4]}-#{pickitem.tana[5..6]}" %></td>
        <td class="jan"><%= pickitem.jan.to_s %></td>
        <td class="shohinmei"><%= pickitem.shohinmei %></td>
        <td class="mklot"><%= pickitem.mklot %></td>
        <td class="totalpick"><%= pickitem.totalpick %></td>
        <td class="shipping_records"><%= pickitem.shipping_records %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("#",class: "purchase-btn") do %>
  <%= image_tag "top.png", size: "100x100", class: "purchase-btn-icon" %>
<% end %>

<div><% @shipper %></div>
<div><% @pickgroup %></div>