<h1>ピッキングアプリ</h1>

<table>
  <thead>
    <tr>
      <th>グループ</th>
      <th>棚番</th>
      <th>JANコード</th>
      <th>商品名</th>
      <th>入数</th>
      <th>ピッキング数量</th>
    </tr>
  </thead>
  <tbody>
    <% @pickitems.each do |pickitem| %>
      <tr>
        <td><%= pickitem.pickgroup %></td>
        <td><%= pickitem.tana %></td>
        <td><%= pickitem.jan %></td>
        <td><%= pickitem.shohinmei %></td>
        <td><%= pickitem.mklot %></td>
        <td><%= pickitem.totalpick %></td>
        <td>
          <%= link_to "pick", "#" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>