<% session[:pickgroup] = nil %>
<% session[:shipper] = nil %>

<div class="start-main">
  <div class="start">
    <div class="start-image"><%= image_tag("pickapp.png", class:"pickapp-icon") %></div>
    <div class="start-items">
      <div class="start-text">
        <div class="start-text__main">しゅうひん君</div>       
        <%= form_with url:pickitems_path, method: :post, class:"start-text__sub", local: true do |form| %>
        <div class="start-text__">
          <%= form.select :nouhinbi,options_for_select(Pickitem.all.group_by{ |item| item.nouhinbi }.sort_by{ |to_date, _| to_date }.reverse.map { |date, _| [date, date] }),
            class:"start-input", prompt: "納品日を選択してください", required: true, id: "nouhinbi" %>
        </div>
        <div class="start-text__">
          <%= form.label :shipper, "担当者コード入力" %>
          <%= form.text_field :shipper, type: "number", class:"start-input", type: "number", required: true %>
        </div>
        <div class="start-text__">
          <%= form.label :pickgroup, "ピッキングNo選択" %>
          <% if @options.present? %>
            <%= form.select :pickgroup, options_for_select(@options).sort_by{ |group, items| group}.map { |group, items| ["#{group} - (#{items.count}行)", group] }, prompt: "選択してください", class:"start-input" %>
          <% else %>
            <%= form.select :pickgroup, options_for_select(Pickitem.all.group_by(&:pickgroup).sort_by{ |group, items| group}.map { |group, items| ["#{group} - (#{items.count}行)", group] }), prompt: "選択してください", class:"start-input" %>
          <% end %>
        </div>
          <%= form.submit "Start", class:"service-btn" %>
        <% end %> 
      </div>
    </div>
  </div>
</div>