<div class="index-main">
  <div class="hero">
    <div class="hero-image"><%= image_tag("pickapp.jpg", class:"pickapp-icon") %></div>
    <div class="hero-items">
      <div class="hero-text">
        <div class="hero-text__main">しゅうひん君</div>
        
    <%= form_with url:pickitems_path, method: :get, class:"hero-text__sub" do |form| %>
      <%= form.label :shipper, "担当者コード入力" %>
      <%= form.text_field :shipper %>
      <%= form.label :pickgroup, "ピッキングNo入力" %>
      <%= form.text_field :pickgroup %>
      <%= form.submit "Start", class:"service-btn" %>
    <% end %> 
    </div>
    
  </div>
</div>